@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

.about-title {
  margin: 100px;
  font-size: 75px;
  font-family: "Oswald", sans-serif;
}

.about-body {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.image-gallery {
  margin: 0 auto;
  max-width: 75%;
}
