@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

.cards-background {
  margin: 50px;
}

.modal-image {
  display: block;
  margin: 50px auto;
  width: 400px;
  height: 400px;
}

.individual-card {
  margin: 50px;
  display: inline-block;
  width: 400px;
  height: 400px;
}

.individual-card:hover {
  cursor: pointer;
  box-shadow: 0 0 2px black, inset 0 0 2px black;
}

.card-title {
  margin: 100px;
  font-size: 75px;
  font-family: "Oswald", sans-serif;
}
